main, section, article {
	padding: 20px;
}
main {
	background-color: cornflowerblue;
}
section {
	background-color: blueviolet;
	position: relative;
}
article {
	background-color: aquamarine;
	height: 1000px;
}
.dv_stt {
	background-color: sienna;
	position: static;
}
.dv_rlt {
	background-color: salmon;
	position: relative;
	/* left: -30px; */
	/* bottom: 30px; */
}
.dv_abl {
	background-color: pink;
	position: absolute;	
	top: 5px;
	right: 5px;
}
.dv_fx {
	background-color: crimson;
	position: fixed;
	right: 0px;
	top: 20%;
}
.dv_stk {
	background-color: yellow;
	position: sticky; /*페이지 안에 무조건 가져가~*/
	top: 0;
}
.dd {
	position: fixed;
	top: 30%;
	right: 30%;
}

/* z-index로 레이어처럼 나눌 수 잇는ㄷ스 */

/*
	article {
		z-index: 2;
 	}
	동위 선상에서 나누는 듯
*/