div {
	width: 400px;
	height: 200px;
	border: 2px solid black;
}
.div1 {
	background: linear-gradient(
		to right
		, white
		, blue
		, violet
		, green
		, navy
		, brown
	);
}
.div2 {
	background: radial-gradient(
		circle
		, rgb(229, 240, 131)
		, rgb(29, 172, 88)
	);
}