fieldset {
	font-weight: 600;
	width: 400px;
	margin: auto;
	background: #fff url('../../html/img/dorae.jpg') center;
	background-size: cover;
	padding: 10px;
}

legend {
	font-size: 25px;
	color: #ff192c;
}

label {
	line-height: 30px;
}

#red-label::before { /* nth-child로 부르고싶다 */
	content: "*";
	color: red;
}

.label_require:before { /* 이거 쌤꺼 클래스 */
	content: "*";
	color: red;
}

input:focus { /* 쌤은 input, textarea만 주셨음 */
	outline: none;
	border: 3px solid red;
	border-radius: 3px;
}

#need, #name, #age {
	background-color: transparent;/*  background: none; 같음 */
}

input:checked+label { /* 쌤 그냥 :checked+label로 했음. 다른 페이지나 영향 가는거 없어서 그런듯 */
	color: red;
}

textarea:focus {
	border: 3px solid red;
	outline: none;
}

span { /* 이거 그냥 label태그로 vertical-align: top;으로 하면 자동으로 textarea 옆 공간에서 올라가는 듯 */
	font-size: 13px;
	font-weight: 200;
	color: white;
	background-color: rgb(68, 68, 68);
	display: none;
} /* span으로 지정하지 않아도 버튼:hover::after{content:}로 써서 표시할 수 있다.
 선생님은 위치를 absolute로 지정했다. */

button:hover+span {
	display: block;
}

.flt {
	float: left;
}

.clr {
	clear: both;
}

.blc {
	display: block;
}
