* {
	/* 배치 */
	/* 내부 */
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* 크기 */
}

body>.task_modal {
	background-color: rgb(145, 145, 145);
	/* 배치 */
	margin: auto;
	margin-top: 10vh;
	/* 내부 */
	display: flex;
	flex-direction: column;
	align-items: center;
	/* 크기 */
	width: 462px;
	height: 645px;
}

body>.task_modal>div {
	background-color: rgb(102, 102, 102);
	/* 배치 */
	/* 내부 */
	/* 크기 */
	width: 100%;
	height: 10%;
}

body>.task_modal>div:nth-child(1) {
	/* 배치 */
	/* 내부 */
	padding: 20px;
	/* 크기 */
}

body>.task_modal>div:nth-child(2) {
	background-color: rgb(66, 66, 66);
	/* 배치 */

	/* 내부 */
	overflow: auto;
	/* 크기 */
	height: 80%;
}
body>.task_modal>div:nth-child(2):not(.noline) {
	/* 배치 */
	/* 내부 */
	border-bottom: 1px solid rgb(163, 163, 163);
	border-top: 1px solid rgb(163, 163, 163);
	/* 크기 */
}

/* 스크롤 */
body>.task_modal>div:nth-child(2)::-webkit-scrollbar {
	width: 10px;
}

body>.task_modal>div:nth-child(2)::-webkit-scrollbar-thumb {
	background-color: #2f3542;
}

/* body>.task_modal>div:nth-child(2)::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0);
} */

body>.task_modal>div:nth-child(2)>.content:not(.noline) {
	background-color: rgb(140, 140, 140);
	/* 배치 */
	/* 내부 */
	border-bottom: 1px solid rgb(163, 163, 163);
	/* 크기 */
}
.task_modal .overheader{
	/* 배치 */
	/* 내부 */
	display: flex;
	padding: 15px;
	font-size: small;
	/* 크기 */
}

.task_modal .overheader>div:nth-child(2){
	/* 배치 */
	margin-left: 10px;
	/* 내부 */
	/* 크기 */
}
.task_modal>.header {
	/* 배치 */
	/* 내부 */
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* 크기 */
}

.task_modal>.header>div:nth-child(1) {
	/* 배치 */
	/* 내부 */
	display: flex;
	/* 크기 */
}

.task_modal>.header>div:nth-child(2),
.task_modal>.header>div:nth-child(1)>div:nth-child(1) {
	background-color: rgb(246, 192, 192);
	/* 배치 */
	/* 내부 */
	/* 크기 */
	width: 20px;
	height: 20px;
}

.task_modal>.header>div:nth-child(1)>div:nth-child(2) {
	background-color: rgb(169, 126, 126);
	/* 배치 */
	margin-left: 15px;
	/* 내부 */
	/* 크기 */
}

.task_modal .content>.header {
	background-color: rgb(159, 175, 210);
	/* 배치 */
	/* 내부 */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* 크기 */
}

.task_modal .content>.header>div:nth-child(1) {
	background-color: rgb(107, 114, 129);
	/* 배치 */
	/* 내부 */
	display: flex;
	align-items: center;
	/* 크기 */
}

.task_modal .content>.header>div:nth-child(1)>div {
	background-color: rgb(107, 114, 129);
	/* 배치 */
	margin-right: 10px;
	/* 내부 */
	/* 크기 */
}

.task_modal .user_profile {
	background-color: rgb(101, 11, 11);
	/* 배치 */
	/* 내부 */
	/* 크기 */
	width: 50px;
	height: 50px;
}

.task_modal .more {
	background-color: rgb(11, 101, 23);
	/* 배치 */
	/* 내부 */
	cursor: pointer;
	/* 크기 */
	width: 25px;
	height: 50px;
}

.task_modal .content>.property {
	background-color: rgb(153, 162, 161);
	/* 배치 */
	/* 내부 */
	padding: 5px 10px;
	/* 크기 */
}

.task_modal .content>.property>div {
	background-color: rgb(107, 129, 128);
	/* 배치 */
	/* 내부 */
	display: flex;
	flex-direction: row;
	align-items: center;
	/* 크기 */
}

.task_modal .content>.property>div:not(:nth-child(1)) {
	/* 배치 */
	margin-top: 5px;
	/* 내부 */
	/* 크기 */
}

.task_modal .content>.property>div>div:nth-child(1) {
	background-color: rgb(64, 195, 57);
	/* 배치 */
	/* 내부 */
	/* 크기 */
	width: 30px;
	height: 30px;
}

.task_modal .content>.property>div>div:not(:nth-child(1)) {
	/* 배치 */
	margin-left: 5px;
	/* 내부 */
	/* 크기 */
}

.task_modal .content>.property>.status>div:not(:nth-child(1)) {
	background-color: rgb(103, 117, 96);
	/* 배치 */
	margin-left: 5px;
	/* 내부 */
	text-align: center;
	padding: 1%;
	/* 크기 */
	width: 70px;
	height: 30px;
	border-radius: 27px;
}

.task_modal .content>.property>.add_box>div:nth-child(2) {
	background-color: rgb(156, 166, 151);
	/* 배치 */
	/* 내부 */
	display: flex;
	padding: 1%;
	/* 크기 */
	border-radius: 7px;
}

.task_modal .content>.property>.add_box>div:nth-child(2)>div:nth-child(1) {
	background-color: rgb(99, 101, 98);
	/* 배치 */
	/* 내부 */
	/* 크기 */
	width: 20px;
	height: 20px;
}

.task_modal .content>.property>.add_box>div:nth-child(2)>div:nth-child(2) {
	/* 배치 */
	margin: 0 5px;
	/* 내부 */
	/* 크기 */
}

.task_modal .content>.property>.add_box>div:nth-child(2)>div:nth-child(3) {
	background-color: rgb(104, 120, 96);
	/* 배치 */
	/* 내부 */
	/* 크기 */
	width: 20px;
	height: 20px;
}

.task_modal .content>.property>.responsible>div:nth-child(3) {
	/* 배치 */
	/* 내부 */
	font-size: small;
	color: white;
	border-bottom: 1px solid white;
	cursor: pointer;
	/* 크기 */
}

.task_modal .content>.title {
	/* 배치 */
	/* 내부 */
	padding: 15px;
	/* 크기 */
}
.task_modal .content:not(.noline)>.title {
	border-bottom: 1px solid rgb(163, 163, 163);
	/* 배치 */
	/* 내부 */
	/* 크기 */
}

.task_modal .content>.content {
	/* 배치 */
	/* 내부 */
	padding: 15px;
	/* 크기 */
}

.task_modal .content>.content>div {
	/* 배치 */
	margin: 15px 5px 0 15px;
	/* 내부 */
	display: flex;
	justify-content: end;
	/* 크기 */
}

.task_modal .comment {
	background-color: rgb(49, 49, 49);
	/* 배치 */
	/* 내부 */
	padding: 20px;
	/* 크기 */
}

.task_modal .comment>div {
	background-color: rgb(125, 125, 125);
	/* 배치 */
	/* 내부 */

	padding: 15px 0;
	/* 크기 */
}

.task_modal .comment>div:not(:last-child) {
	/* 배치 */
	/* 내부 */
	border-bottom: 1px solid rgb(163, 163, 163);
	/* 크기 */
}

.task_modal .comment>div {
	/* 배치 */
	/* 내부 */
	display: grid;
	grid-template-columns: 1fr 6fr;
	/* justify-content: space-between; */
	/* 크기 */
}

.task_modal .comment>div>.comment_content>div:nth-child(1) {
	background-color: rgb(107, 87, 60);
	/* 배치 */
	/* 내부 */
	display: flex;
	justify-content: space-between;
	/* 크기 */
}

.task_modal .comment>div>.comment_content>div:nth-child(1)>div:nth-child(1) {
	background-color: rgb(107, 87, 60);
	/* 배치 */
	/* 내부 */
	display: flex;
	/* 크기 */
}

.task_modal .comment>div>.user_profile {
	background-color: rgb(163, 147, 124);
	/* 배치 */
	/* 내부 */
	/* 크기 */
	width: 50px;
	height: 50px;
}

.task_modal .comment>div>.comment_content>div:nth-child(2) {
	background-color: rgb(86, 107, 60);
	/* 배치 */
	/* 내부 */
	display: flex;
	/* 크기 */
	/* width: 100%; */
}

.task_modal .footer {
	/* 배치 */
	/* 내부 */
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	justify-items: center;
	align-items: center;
	/* 크기 */
}

.task_modal .footer>textarea {
	background-color: rgb(255, 255, 255);
	/* 배치 */
	/* 내부 */
	resize: none;
	/* 크기 */
	width: 100%;
	height: 60%;
}

.task_modal .footer>textarea:focus {
	/* 배치 */
	/* 내부 */
	outline: none;
	/* 크기 */
}

.task_modal .footer>div:nth-child(3) {
	background-color: rgb(117, 184, 34);
	/* 배치 */
	/* 내부 */
	cursor: pointer;
	/* 크기 */
	width: 60%;
	height: 50%;
}

.task_modal .insert_footer {
	/* 배치 */
	/* 내부 */
	padding: 10px 20px;
	display: flex;
	justify-content: end;
	align-items: center;
	/* 크기 */
}
.task_modal .insert_footer>div {
	background-color: white;
	/* 배치 */
	/* 내부 */
	display: flex;
	justify-content: center;
	align-items: center;
	/* 크기 */
	width: 25%;
	height: 80%;
	border-radius: 7px;
}

/* background-image: url('/img/profile-img.png');
	background-position: center;
	background-size: cover; */