* {
    box-sizing: border-box;
}

textarea{
    resize: none;
}

body {
    margin: 0;
    padding: 0;
    /* background-image: url(../../doc/줌\ 이쪼기야.png); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-position: 0 145px; */
    /* height: 2261px; */
}

.baggat {
    width: 1080px;
    margin: auto;
    position: relative;
}

.never_img{
    position: absolute;
    left: 10px;
    top: 5px;
}

.never_img:hover{
    animation-name: move;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

@keyframes move {
    /* keyframe */
    from {
      transform: scale(1);
    }
    /* keyframe */
    to {
        transform: scale(1.4);
    }
}

.never_img>a{
    color: #03c75a;
}

.header_flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
    align-items: center;
    height: 35px;
}

.header_img{
    position: absolute;
}

.header_a{
    margin: 0px 10px;
    font-size: 12px;
}

.sero{
    width: 2px;
    height: 18px;
    background-color: rgb(221, 221, 221);
}

header {
    height: 340px;
    width: 100%;
    background-color: black;
    background-image: url(../../doc/gaecheubi2.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
}

.never_img>b{
    font-size: 22px;
    color: #03c75a;
}

header > h1 {
    color: white;
    /* text-align: center; */
    font-size: 4rem;
    padding: 2rem;
    margin-left: 50px;
}

form.search{
    width: 290px;
    height: 35px;
    float: right;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.insert_form{
    position: relative;
}

.insert_form>div:first-child{
    display: flex;
    justify-content: end;
}

.insert_form>div>*{
    margin: 10px 5px;
}

.insert_form>div:first-child>*{
    background-color: #EFF0FE;
    padding: 5px 12px;
    border-radius: 15%;
    margin: 10px 5px;
    border: 0px solid black;
}

.insert_form>h2{
    position: absolute;
    top: -10px;
    left: 0px;
    line-height: 30px;
    font-size: 25px;    
}

.jaksung{
    border-top: 2px solid black;
    margin-top: 10px;
}

.insert_form>div>input, .insert_form>div>textarea{
    width: 1000px;
}

.insert_form>div>input{
    height: 40px;
}

.insert_form>div>textarea{
    height: 412px;
}

#search {
    width: 243px;
    height: 100%;
    border: 1px solid #d3d3d3;
}

button.search{
    border: 0px;
    width: 53px;
    height: 100%;
    background-color: #03c75a;
    color: white;
    margin-left: -6px;
}

main {
    margin-top: 50px;
    font-size: 1rem;
    display: grid;
    grid-template-columns: 200px 860px;
    gap: 20px;
}

.detail_con>div:first-child{
    border: 1px solid #ebecef;
    border-radius: 5px;
    padding: 30px;
}

.detail_con>div:first-child>div{
    /* height: 58px; */
}

.detail_con>div:first-child>div:nth-child(2){
    position: relative;
    display: flex;
}

.detail_con>div:first-child>div>a{
    font-size: 13px;
    color: #03c75a;
}

.detail_con>div:first-child>div>h3{
    line-height: 50px;
    font-size: 26px;
    font-weight: 500;
}

.detail_con tr{
    width: 100%;
    height: 80px;
}

.detail_con tr{
    width: 100%;
}

.detail_con>div:nth-child(2)>a{
    background-color: #EFF0FE;
    padding: 5px 12px;
    border-radius: 15%;
    margin: 10px 5px;
}
.detail_con>div:nth-child(2){
    display: flex;
    justify-content: end;
}

.detail_con>div>div:nth-child(2){
    border-bottom: 1px solid #ebecef;
}

.insert_top{
    border: 1px solid #e4e4e4;
    margin: 10px 0px;
    width: 100%;
    padding: 14px 24px;
}

.insert_top>*{
    font-size: 13px;
}

.insert_top>span{
    margin: 0px 5px;
}

aside{
    
}

.cafe_jeongbo{
    border-top: 2px solid black;
}

ul{
    list-style:none;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

ul>li>p{
    margin: 5px 0px;
    line-height: 7px;
}

li:first-child{
    position: absolute;
    left: 10px;
}

.cafe_jeongbo>div{
    border-top: 1px solid #e4e4e4;
    position: relative;
    padding: 10px;
}

.cafe_jeongbo>div:nth-child(2){
    height: 77px;
}

.cafe_jeongbo>div:nth-child(2)>*{
    margin-left: 65px;
}

.cafe_jeongbo{
    font-size: 12px;
}

.profile{
    margin-left: 0px;
    position: absolute;
    left: -57px;
    border: 0px solid black;
    border-radius: 34%;
    width: 58px;
    height: 58px;
    background-color: black;
    background-image: url(../../doc/s.png);
    background-size: cover;
    background-position: center;
}

.profile_detail{
    display: inline-block;
    border: 0px solid black;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    /* background-color: black; */
    background-image: url(../../doc/NoNameProfile.png);
    background-size: cover;
    background-position: center;
}

.after_profile_detail{
    display: flex;
    flex-flow: column wrap;
    margin-left: 12px;
    font-size: 15px;
    padding-bottom: 15px;
}

.after_profile_detail>div:first-child>span:first-child{
    font-weight: 600;
}

.after_profile_detail>div>a{
    border-radius: 12%;
    font-size: 12px;
    line-height: 12px;
    padding: 5px;
    font-weight: 600;
}

.after_profile_detail>div>a:nth-child(3){
    background-color: rgba(0, 159, 72, 0.11);
    color: #009f47;
}

.after_profile_detail>div>a:nth-child(4){
    background-color: rgba(71, 71, 71, 0.11);
}

.after_profile_detail>div:nth-child(2)>*{
    font-size: 12px;
    color: #979797;
}

.cafe_jeongbo>div>p{
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
}

.cafe_jeongbo>div>p:nth-child(3){
    padding: 0px 3px;
    border: 1px solid #e4e4e4;
    font-size: 9px;
    margin-left: 0px;
}

.cafe_jeongbo>div>p:nth-child(2){
    margin-left: 65px;
}

.cafe_jeongbo>div>a{
    display: block;
}

.cafe_jeongbo>div:nth-child(3){
    position: relative;
}

.cafe_jeongbo>div:nth-child(3)>a:nth-child(3){
    position: absolute;
    right: 0px;
    bottom: 10px;
}

.cafe_jeongbo>div>dt{
    position: absolute;
}

.cafe_jeongbo>a{
    border: 1px solid #e4e4e4;
    width: 100%;
    text-align: center;
    line-height: 34px;
    margin-bottom: 10px;
}

.cafe_jeongbo>a:nth-child(5){
    background-color: #5A5A5A;
    color: white;
}

aside>*{
    font-size: 14px;
}

.gesipan_list>div{
    border-top: 2px solid #e4e4e4;
    height: 41;
    padding: 10px 10px 12px;
}

.gesipan_list>div:first-child{
    border-top: 2px solid black;
}

.gesipan_list>ul{
    border-top: 1px solid #e4e4e4;
    height: 37px;
    margin: 0;
}

.gesipan_list>ul:last-child{
    border-bottom: 2px solid black;
}

.gesipan_list>ul>li{
    line-height: 37px;
}

aside>div:nth-child(3){
    line-height: 70px;
    padding: 0px 12px;
    background-color: #f8f8f8;
    margin: 10px 0px;
}

aside>div:nth-child(3)>a{
    color: #666666;
}

aside>div:nth-child(4){
    height: 64px;
    background-color: #f8f8f8;
    background-image: url("../../doc/banner_chatbot.png");
    background-position: center;
    background-size: cover;
}

/* .menu_space{
    border: 0px solid black;
    width: 100%;
    height: ;
} */

h3{
    font-size: 22px;
    display: inline-block;
    margin: 0;
}

.contents{
}

.sort{
    display: flex;
    justify-content: end;
    align-items: center;    
    height: 53px;
}

.sort_a{
    margin: 0px 10px;
}

/* summary{text-align: right; outline: none;} */
/* details[open] summary{position:absolute;bottom:-10px;right:0%;} */
/* form{position:relative;}  */

.gaeshick{
    position: absolute;
}



table {
    border-collapse: collapse;
    width: 100%;
    font-size: 1.5rem;
    position: relative;
}

#title{
    text-align: left;
}

colgroup{
    /* position: relative; */
}

tr {
    height: 38px;
}

th{
    /* position: relative; */
    font-size: 14px;
}

td {
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid #e4e4e4;
}

.table-title {
    border-top: 1px solid black;
    border-bottom: 1px solid rgb(223, 223, 223);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: 46px;
}

.jagseong {
    text-align: center;
    /* line-height: 36px;
    width: 74px; */
    padding: 9px 5px 9px 22px;
    margin: 5px;
    border: 1px solid #d3d3d3;
    background-color: white;
    font-weight: normal;
    position: relative;
    float: right;
}

.pen{
    transform: rotate(135deg);
    position: absolute;
    left: 5px;
}

section {
    /* display: inline-block; */
    /* float: left; */
    /* position: relative; */
    /* left: 25%; */
    margin-top: 68px;
    background-color: #f9f9f9;
    height: 56px;
    border-bottom: 1px solid #e4e4e4;
}

.page_buts{
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.page_buts>.sero{
    margin: 16px 5px;
}

.page_buts>a>span{
    margin: 16px 5px;
}

.tri {
    position: relative;
}

a {
    text-decoration: none;
    display: inline-block;
    color: rgb(0, 0, 0);
}

a:hover{
    text-decoration: underline;
}

.page-btn{
    font-size: 14px;
    display: block;
    text-align: center;
    position: relative;
}

.page-btn_now{
    font-size: 14px;
    display: block;
    text-align: center;

    border: 1px solid #e4e4e4;
    background-color: #FFFFFF;
    color: #03c75a;
}

/* .arrow_R{
    content: '';
    top: 5px;
    left: -16px;
    width: 30px;
    height: 30px;
    background-color: rgb(0, 0, 0);
    clip-path: polygon(100% 0%, 100% 100%, 0% 0%);
    position: absolute;
    transform: rotate(45deg);
} */

#page-btn{
    width: 24px;
    height: 24px;
    margin: 16px 5px;
}

.whspac{
    background-color: #f9f9f9;
    padding: 16px 0px;
}

.search_detail{
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_detail>*:not(button){    
    margin-left: 10px;
}

input::placeholder, textarea::placeholder{
    color: #d1d1d1;
    padding: 5px;
}

.super_ad{
    padding: 20px;
    border: 1px solid #e4e4e4;
    margin-top: 30px;
}

.super_ad>a{
    float: right;
}

.super_ad>p{
    background-color: #e7e7e7;
    height: 1px;
    width: 100%;
}

footer{
    /* position: absolute; */
    /* top: 2200px; */
    display: flex;
    width: 1080px;
    border-top: 2px solid black;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: end;
    padding: 20px 0px;
    margin-top: 300px;
}

footer>*{
    padding: 0px;
}

footer>div{
    display: flex;
    align-items: center;
}

footer>div>*{
    margin: 0px 5px 0px;
}

