* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    /* background-image: url(../../doc/줌\ 이쪼기야.png); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-position: 0 145px; */
}

.baggat {
    width: 1080px;
    margin: auto;
}

.never_img{
    position: absolute;
}

.header_flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
    align-items: center;
    height: 35px;
}

.header_img{
    position: absolute;
}

.header_a{
    margin: 0px 10px;
    font-size: 12px;
}

.sero{
    width: 2px;
    height: 18px;
    background-color: rgb(221, 221, 221);
}

header {
    height: 340px;
    width: 100%;
    background-color: black;
    background-image: url(../../doc/임시배너.jpg);
    display: flex;
}

header > h1 {
    color: white;
    /* text-align: center; */
    font-size: 4rem;
    padding: 2rem;
    margin-left: 50px;
}

.search{
    display: flex;
    justify-content: end;
    margin: 5px 0px;
}

main {
    font-size: 1rem;
    display: grid;
    grid-template-columns: 200px 860px;
    gap: 20px;
}

aside{
    
}

h3{
    font-size: 22px;
    display: inline-block;
    margin: 0;
}

.contents{
}

.sort{
    display: flex;
    justify-content: end;
    align-items: center;    
    height: 53px;
}

.sort_a{
    margin: 0px 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 1.5rem;
    position: relative;
}

colgroup{
    /* position: relative; */
}

tr {
    
    height: 38px;
}

th{
    /* position: relative; */
    font-size: 18px;
}

td {
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid rgb(223, 223, 223);
}

.table-title {
    border-top: 1px solid black;
    border-bottom: 1px solid rgb(223, 223, 223);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: 50px;
}

.jagseong {
    text-align: center;
    /* line-height: 36px;
    width: 74px; */
    padding: 9px 5px 9px 22px;
    margin: 5px;
    border: 1px solid black;
    background-color: white;
    font-weight: normal;
    position: relative;
    float: right;
}

.pen{
    transform: rotate(135deg);
    position: absolute;
    left: 5px;
}

section {
    /* display: inline-block; */
    /* float: left; */
    /* position: relative; */
    /* left: 25%; */
    margin-top: 68px;
}

.page_buts{
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.tri {
    position: relative;
}

a {
    text-decoration: none;
    display: inline-block;
    color: rgb(0, 0, 0);
}

.page-btn{
    display: block;
    text-align: center;
    line-height: 50px;
    margin: 0px 7px;
}

#page-btn{
    width: 50px;
    height: 50px;
}

#page-btn-R{
    /* border-radius: 10%;
    border-bottom: 25px solid transparent;
    border-top: 25px solid transparent;
    border-left: 43px solid rgba(0, 0, 0, 0.486);
    border-right: 25px solid transparent;
    background-color: transparent; */
    width: 10px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    border-radius: 0.5rem;
    position: absolute;
    left: 5px;
}

#page-btn-R:after {
    content: '';
    top: 5px;
    left: -16px;
    width: 40px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    border-radius: 0.6rem;
    clip-path: polygon(0% 0%, 100% 100%, 100% 0%);
    position: absolute;
    transform: rotate(45deg);
 }

#page-btn-L{
    /* border-radius: 10%;
    border-bottom: 25px solid transparent;
    border-top: 25px solid transparent;
    border-left: 25px solid transparent;
    border-right: 43px solid rgba(0, 0, 0, 0.486); 
    background-color: transparent; */
    width: 10px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    border-radius: 0.5rem;
    position: absolute;
    right: 5px;
}

#page-btn-L:after {
    content: '';
    top: 5px;
    left: -14px;
    width: 40px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    border-radius: 0.6rem;
    clip-path: polygon(0% 0%, 100% 100%, 100% 0%);
    position: absolute;
    transform: rotate(-135deg);
 }

