* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(../../doc/줌\ 이쪼기야.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 145px;
}

main {
    font-size: 1rem;
}

header {
    width: 100%;
    background-color: black;
}

header > h1 {
    color: white;
    text-align: center;
    font-size: 4rem;
    padding: 2rem;
    margin: 0;
}

table {
    border-collapse: collapse;
    width: 1000px;
    margin: 50px auto;
    font-size: 1.5rem;
    position: relative;
}

colgroup{
    /* position: relative; */
}

tr {
    
    height: 100px;
}

th{
    /* position: relative; */
}

td {
    text-align: center;
    border-bottom: 1px solid black;
}

.table-title {
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    height: 50px;
}

section {
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* display: inline-block; */
    /* float: left; */
    /* position: relative; */
    /* left: 25%; */
}

.tri {
    position: relative;
}

a {
    text-decoration: none;
    display: inline-block;
    color: rgb(0, 0, 0);
}

.page-btn{
    display: block;
    text-align: center;
    line-height: 50px;
    
    background-color: rgba(0, 0, 0, 0.486);
    color: white;
    border-radius: 50%;
    margin: 0px 7px;
}

#page-btn{
    width: 50px;
    height: 50px;
}

#page-btn-R{
    /* border-radius: 10%;
    border-bottom: 25px solid transparent;
    border-top: 25px solid transparent;
    border-left: 43px solid rgba(0, 0, 0, 0.486);
    border-right: 25px solid transparent;
    background-color: transparent; */
    width: 10px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    border-radius: 0.5rem;
    position: absolute;
    left: 5px;
}

#page-btn-R:after {
    content: '';
    top: 5px;
    left: -15px;
    width: 40px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    border-radius: 0.6rem;
    clip-path: polygon(0% 0%, 100% 100%, 100% 0%);
    position: absolute;
    transform: rotate(45deg);
 }

#page-btn-L{
    /* border-radius: 10%;
    border-bottom: 25px solid transparent;
    border-top: 25px solid transparent;
    border-left: 25px solid transparent;
    border-right: 43px solid rgba(0, 0, 0, 0.486); 
    background-color: transparent; */
    width: 10px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    border-radius: 0.5rem;
    position: absolute;
    right: 5px;
}

#page-btn-L:after {
    content: '';
    top: 5px;
    left: -15px;
    width: 40px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    border-radius: 0.6rem;
    clip-path: polygon(0% 0%, 100% 100%, 100% 0%);
    position: absolute;
    transform: rotate(-135deg);
 }

#insert {
    border: 0px solid rgb(0, 0, 0);
    background-color: rgba(65, 65, 65, 0.897);
    border-radius: 17%;
    

    position: absolute;	
    right: 5%;
    top: 108%;



    font-weight: normal;



    width: 5.9rem;
    line-height: 3.7rem;



    display: inline;
    /* float: left; */
    /* margin-left: 80%; */
    /* line-height: 35px; */
}